.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.select {
  display: block;
  padding: 30px;
}

.user{
font-size: 20px;
}
.user span{
  color: white;
}

