.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.select {
  display: block;
  padding: 30px;
}

.navBar h4{
  padding: 10px;
  margin: 0;
  color: white;
  background-color: #333;
  text-align: center;
  padding: 10px;
}

.navBar h6{
  color: white;
  padding: 5px;
  margin: 0;
}

.navBar ul{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  width: 100%;
  background-color: #444;
  border: 5px solid #444444;
  flex-direction: row-reverse;
}
.navBar ul a{
  text-decoration: none;
  color: #999;
  display: block;
  padding: 5px 10px;
  margin: 0 5px;
  
}
.navBar ul .active, .navBar ul a:hover{
  background: #FFF;
  color: #222;
}
